<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav">
            <div class="collapse">
                <ul class="nav__menu">
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Destinations</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Food</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Gallery</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">card</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1 class="heading-primary">Create Blog</h1>
            <form action="#" class='form'>
                <div class="form__group">
                    <label class="form__label">Title</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__group">
                    <label class="form__label">description</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__group">
                    <label class="form__label">Tags</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__group">
                    <label class="form__label">Continent:</label>
                    <select class='form__select'>
                        <option value="NA">NA</option>
                        <option value="EUROPE">EUROPE</option>
                        <option value="ASIA">ASIA</option>
                      </select>
                </div>
                <div class="form__group">
                    <label class="form__label">image:</label>
                    <input type='file' class="form__input">
                </div>
                <input type="submit" value='Create' class='button--tertiary'>
            </form>
        </div>
    </body>
</html>