<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <section class="section blogs">
            <h1 class="heading-primary fluid center">Blog</h1>
            <div class="blogs__container">
                <div class="card">
                    <div class="card__img">
                        <img src="img/avocado.jpg" alt="avocado lover">
                    </div>
                    <div class="card__content">
                        <h2 class='heading-secondary'>Avocado Lover <3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptas, iste labore alias vitae incidunt voluptatem reprehenderit dolores!.</p>
                        <div class="meta">
                            <img src="img/heart.svg" class='heart' alt="">
                            <span class='card__category'>food</span>
                            <span class='card__category'>travel</span>
                        </div>
                        <a href="#" class='button button--primary mt'>Continue Reading...</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="img/avocado.jpg" alt="avocado lover">
                    </div>
                    <div class="card__content">
                        <h2 class='heading-secondary'>Avocado Lover <3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptas, iste labore alias vitae incidunt voluptatem reprehenderi.</p>
                        <div class="meta">
                            <img src="img/heart.svg" class='heart' alt="">
                            <span class='card__category'>food</span>
                            <span class='card__category'>travel</span>
                        </div>
                        <a href="#" class='button button--primary mt'>Continue Reading...</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="img/avocado.jpg" alt="avocado lover">
                    </div>
                    <div class="card__content">
                        <h2 class='heading-secondary'>Avocado Lover <3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptas, iste labore alias vitae incidunt voluptatem reprehenderit dolores!.</p>
                        <div class="meta">
                            <img src="img/heart.svg" class='heart' alt="">
                            <span class='card__category'>food</span>
                            <span class='card__category'>travel</span>
                        </div>
                        <a href="#" class='button button--primary mt'>Continue Reading...</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="img/avocado.jpg" alt="avocado lover">
                    </div>
                    <div class="card__content">
                        <h2 class='heading-secondary'>Avocado Lover <3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptas, iste labore alias vitae incidunt voluptatem reprehenderit dolores!.</p>
                        <div class="meta">
                            <img src="img/heart.svg" class='heart' alt="">
                            <span class='card__category'>food</span>
                            <span class='card__category'>travel</span>
                        </div>
                        <a href="#" class='button button--primary mt'>Continue Reading...</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="img/avocado.jpg" alt="avocado lover">
                    </div>
                    <div class="card__content">
                        <h2 class='heading-secondary'>Avocado Lover <3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptas, iste labore alias vitae incidunt voluptatem reprehenderit dolores!.</p>
                        <div class="meta">
                            <img src="img/heart.svg" class='heart' alt="">
                            <span class='card__category'>food</span>
                            <span class='card__category'>travel</span>
                        </div>
                        <a href="#" class='button button--primary mt'>Continue Reading...</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="img/avocado.jpg" alt="avocado lover">
                    </div>
                    <div class="card__content">
                        <h2 class='heading-secondary'>Avocado Lover <3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptas, iste labore alias vitae incidunt voluptatem reprehenderit dolores!.</p>
                        <div class="meta">
                            <img src="img/heart.svg" class='heart' alt="">
                            <span class='card__category'>food</span>
                            <span class='card__category'>travel</span>
                        </div>
                        <a href="#" class='button button--primary mt'>Continue Reading...</a>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>