<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <section class="section gallery">
            <h1 class="heading-primary center">Gallery</h1>
            <div class="gallery__container">
                <div class="gallery__item">
                    <img src="img/g1.jpg" alt="">
                    <div class="gallery__content hide-sm">
                        <h3 class='heading-tertiary gallery__item-header'>singapore</h3>
                        <p class='gallery__item-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae odio ullam ea neque molestias.</p>
                    </div>
                </div>
                <div class="gallery__item">
                    <img src="img/g2.jpg" alt="">
                    <div class="gallery__content hide-sm">
                        <h3 class='heading-tertiary gallery__item-header'>singapore</h3>
                        <p class='gallery__item-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae odio ullam ea neque molestias.</p>
                    </div>
                </div>
                <div class="gallery__item">
                    <img src="img/g3.jpg" alt="">
                    <div class="gallery__content hide-sm">
                        <h3 class='heading-tertiary gallery__item-header'>singapore</h3>
                        <p class='gallery__item-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae odio ullam ea neque molestias.</p>
                    </div>
                </div>
                <div class="gallery__item">
                    <img src="img/g4.jpg" alt="">
                    <div class="gallery__content hide-sm">
                        <h3 class='heading-tertiary gallery__item-header'>singapore</h3>
                        <p class='gallery__item-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae odio ullam ea neque molestias.</p>
                    </div>
                </div>
                <div class="gallery__item">
                    <img src="img/g5.jpg" alt="">
                    <div class="gallery__content hide-sm">
                        <h3 class='heading-tertiary gallery__item-header'>singapore</h3>
                        <p class='gallery__item-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae odio ullam ea neque molestias.</p>
                    </div>
                </div>
                <div class="gallery__item">
                    <img src="img/g6.jpg" alt="">
                    <div class="gallery__content hide-sm">
                        <h3 class='heading-tertiary gallery__item-header'>singapore</h3>
                        <p class='gallery__item-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex beatae odio ullam ea neque molestias.</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>