<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav">
            <div class="collapse">
                <ul class="nav__menu">
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Destinations</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Food</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Gallery</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">card</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3 class="heading-primary">Join our adventure!</h3>
            <form action="#" class='form form--signup'>
                <div class="form__group">
                    <label class="form__label">First Name</label>
                    <input type='text' name='firstname' id='firstname' class="form__input" placeholder='Ryan'>
                </div>
                <div class="form__group">
                    <label class="form__label">lastname</label>
                    <input type='text' name='lastname' id='lastname' class="form__input" placeholder="Smith">
                </div>
                <div class="form__group">
                    <label class="form__label">email</label>
                    <input type='email' name='email' id='email' class="form__input" placeholder="ryan@yahoo.com">
                </div>
                <div class="form__group">
                    <label class="form__label">username</label>
                    <input type='text' name='username' id='username' class="form__input" placeholder="ryan123">
                </div>
                <div class="form__group">
                    <label class="form__label">password</label>
                    <input type='password' name='password' id='password' class="form__input" placeholder="******">
                </div>
                <div class="form__group">
                    <label class="form__label">confirm password</label>
                    <input type='password' name='passwordConfirm' id='passwordConfirm' class="form__input" placeholder="******">
                </div>
                <input type="submit" value='Sign Up' class='button--tertiary'>
            </form>
        </div>
    </body>
</html>