<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@500&family=Roboto+Slab&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav">
            <div class="collapse">
                <ul class="nav__menu">
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Destinations</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Food</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Gallery</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">card</a></li>
                </ul>
            </div>
        </nav>
        
        <section class='container blog'>
            <h1 class="heading-primary underline">Avocado Lover <3</h1>
            <!-- <img src="img/heart.svg" class='blog__heart' alt=""> -->

            <div class="blog__card">
                <div class='blog__card-img'>
                    <img src="img/japan.jpeg" alt="">
                </div>

                <div class="blog__card-tags">
                    <p>Food</p>
                    <p>Nature</p>
                    <p>City</p>
                </div>
                
                <div class="blog__card-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, repellendus atque voluptate nulla praesentium deserunt quidem exercitationem, suscipit facere soluta id cum ad ex at, officia illum laudantium expedita in? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ex nihil itaque dolorem aspernatur fugit, dolore neque odio laboriosam assumenda, voluptates earum consequuntur obcaecati inventore eligendi, esse quis at maiores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eum est libero delectus voluptatibus nihil voluptatem, odio voluptatum neque ad placeat, distinctio blanditiis soluta. Quo nisi atque delectus veniam nemo?</p>
                </div>
            </div>
        </section>
        <div class="divider"></div>
        <section class="container post">
            <h2 class="heading-secondary">A DREAM PLACE</h2>
            <div class="post__content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto temporibus voluptas, sint beatae error, fuga repellat repellendus quasi voluptatum commodi ducimus non illum dolores deleniti provident amet ipsam nihil aperiam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta sapiente doloremque vero, perspiciatis magnam accusantium fugit. Eligendi reiciendis maxime molestiae eos, earum iusto dolores sint accusantium, provident blanditiis sequi quibusdam?</p>
            </div>
            <div class="post__images">
                <div class="post__images-item">
                    <img src="img/korea.jpeg" alt="">
                </div>
                <div class="post__images-item">
                    <img src="img/japan.jpeg" alt="">
                </div>
                <div class="post__images-item">
                    <img src="img/philippines.jpeg" alt="">
                </div>
                <div class="post__images-item">
                    <img src="img/singapore.jpeg" alt="">
                </div>
                <div class="post__images-item">
                    <img src="img/us.jpg" alt="">
                </div>
            </div>
            <h2 class="heading-secondary">A DREAM PLACE</h2>
            <div class="post__content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto temporibus voluptas, sint beatae error, fuga repellat repellendus quasi voluptatum commodi ducimus non illum dolores deleniti provident amet ipsam nihil aperiam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta sapiente doloremque vero, perspiciatis magnam accusantium fugit. Eligendi reiciendis maxime molestiae eos, earum iusto dolores sint accusantium, provident blanditiis sequi quibusdam?</p>
            </div>
            <div class="post__image">
                <div class="post__image-item">
                    <img src="img/korea.jpeg" alt="">
                </div>
            </div>
        </section>

        
    </body>
</html>